<div id="site__sidebar" class="fixed top-0 left-0 z-[99] pt-[--m-top] overflow-hidden
        transition-transform xl:duraton-500 max-xl:-translate-x-full">
    <div class="p-2 max-xl\:bg-white shadow-sm \32xl\:w-72 sm:w-64 w-[80%] h-[calc(100vh-64px)] relative z-30
        max-lg:border-r dark:max-xl:!bg-slate-700 dark-border-slate-700">
        <div class="pr-4" data-simplebar>
            <nav id="side">
                <ul>
                    <li>
                        <a>
                            <img src="~/images/icons/home.png" class="w-6" />
                            <span>Feed</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="~/images/icons/page.png" class="w-6" />
                            <span>Favorites</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="~/images/icons/group-2.png" class="w-6" />
                            <span>Friends</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav id="side" class="font-medium text-sm text-black border-t pt-3 mt-2">
                <div class="px-3 pb-2 text-sm font-medium">
                    <div class="text-black">
                        Pages
                    </div>
                    <ul class="mt-2 -space-y-2">
                        <li>
                            <a>
                                <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M19.9,12.66a1,1,0,0,1,0-1.32L21.18,9.9a1,1,0,0,0,.12-1.17l-2-3.46a1,1,0,0,0-1.07-.48l-1.88.38a1,1,0,0,1-1.15-.66l-.61-1.83A1,1,0,0,0,13.64,2h-4a1,1,0,0,0-1,.68L8.08,4.51a1,1,0,0,1-1.15.66L5,4.79A1,1,0,0,0,4,5.27L2,8.73A1,1,0,0,0,2.1,9.9l1.27,1.44a1,1,0,0,1,0,1.32L2.1,14.1A1,1,0,0,0,2,15.27l2,3.46a1,1,0,0,0,1.07.48l1.88-.38a1,1,0,0,1,1.15.66l.61,1.83a1,1,0,0,0,1,.68h4a1,1,0,0,0,.95-.68l.61-1.83a1,1,0,0,1,1.15-.66l1.88.38a1,1,0,0,0,1.07-.48l2-3.46a1,1,0,0,0-.12-1.17ZM18.41,14l.8.9-1.28,2.22-1.18-.24a3,3,0,0,0-3.45,2L12.92,20H10.36L10,18.86a3,3,0,0,0-3.45-2l-1.18.24L4.07,14.89l.8-.9a3,3,0,0,0,0-4l-.8-.9L5.35,6.89l1.18.24a3,3,0,0,0,3.45-2L10.36,4h2.56l.38,1.14a3,3,0,0,0,3.45,2l1.18-.24,1.28,2.22-.8.9A3,3,0,0,0,18.41,14ZM11.64,8a4,4,0,1,0,4,4A4,4,0,0,0,11.64,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,11.64,14Z" /></svg>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="site__sidebar__overly" class="absolute top-0 left-0 z-20 w-screen xl:hidden backdrop-blur-sm"
         uk-toggle="target: #site__sidebar ; cls :!-translate-x-0">
    </div>
</div>